.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}
.title {
  font-size: 30px;
  margin-bottom: 10px;
}
#timer-label {
  border: 1px solid black;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body {
  background-color: rgb(12, 143, 104);
}
